*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    
}
section{
    width: 100vw;
    height: 100vh;

}
#maindiv{
    background-color: rgba(92, 91, 91, 0.927);
}
#subdiv1 , #subdiv2 ,#subdiv3 ,select,input{
    background-color: rgb(35, 33, 33);
    
}

select:focus , input:focus{
    outline: none;
}
.sec_1,.sec_2{
    
    /* background-color: white; */
    margin: 10px;
}
.icon{
    /* background-color: white; */
    margin: 10px;
}



